body{font-family:Arial,sans-serif;font-size:14px;background-color:#0099ff;color:#000000;text-align:center}
td{background-color:#0099ff;text-align:left}
.high{background-color:#f0f0ff;padding:4px}
.content{width:1000px;text-align:left}
th{font-size:16px;text-align:center}
h1{font-size:20px;text-align:center}
h2{font-size:16px;text-align:left;padding-top:0px;margin-top:0px}
